@model MultiUserLoginTrial.ViewModels.LeaveViewModel
<style>
    .container-sm {
        width: 95%;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            @Html.Partial("_Sidebar")
        </div>
        <div class="col-10">
            <div class="container-sm">
                <div class="d-flex justify-content-center mt-3">
                    <h2 class="text-primary"><b>Leave Requests</b></h2>
                </div>

                <div class="row mt-4 p-3 d-flex justify-content-center">
                    @foreach (var data in Model.LeavesList)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <form method="post">
                                    <h5 class="card-title">@data.username</h5>
                                    <h6 class="card-title">@data.userDesignation</h6>
                                    <h6 class="card-title">@data.username</h6>
                                        @if (data.leaveStatus == "0")
                                        {
                                            <h6 class="card-subtitle mb-2 text-muted">Leave Status : <i class="fa-solid fa-x " style="color:red"></i></h6>
                                           
                                        }
                                        else if (data.leaveStatus == "1")
                                        {
                                            <h6 class="card-subtitle mb-2 text-muted">Leave Status : <i class="fa-solid fa-check" style="color:forestgreen"></i></h6>
                                        }
                                        <h6 class="card-subtitle mb-2 text-muted">@data.DateTime.ToString(@"hh\:mm\:ss")</h6>

                                    <h6 class="card-title">Subject: @data.leaveMessageHeading</h6>
                                    <p class="card-text"> @data.leaveMessageBody</p>
                                    @if(data.leaveStatus=="0"  && (string.IsNullOrEmpty(data.leaveStatusMessage))){
                                        <input class="form-check-input" type="checkbox" value="1" name="status">
                                        <label class="form-check-label" for="flexCheckDefault">
                                            Approve Leave
                                        </label>
                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <input type="text" id="form4Example1" class="form-control" name="message" />
                                                <label class="form-label" for="form4Example1">Comment</label>
                                            </div>
                                            <button data-mdb-ripple-init type="submit" asp-route-id="@data.leaveId" class="btn btn-primary btn-block mb-4">Send</button>

                                    }
                                      

                                    </form>
                                    <a class="text-danger" asp-action="AdminViewLeaveRequest" asp-controller="Dashboard" asp-route-id="@data.leaveId">Delete</a>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
   
    </div>

</div>