@model MultiUserLoginTrial.ViewModels.BroadcastViewModel;

<style>
    .long-content {
        max-width: 200px; /* Adjust this value as needed */
        word-wrap: break-word;
    }

    .container-sm {
        max-width: 95%;
    }
</style>
<main class="container-fluid">
	<div class="row">
		<div class="col-2">
			@Html.Partial("_Sidebar")

		</div>
		<div class="col-9">
			<div class="container-sm">
				<div class="d-flex justify-content-center mt-3">
					<h2 class="text-primary"><b>Broadcast Message</b></h2>
				</div>
				
				<div class="d-flex justify-content-center">
					<h5 class="text-primary">Broadcast a message across all employees</h5>
				</div>
				<div class="d-flex justify-content-center mt-2 ">
					<form style="width: 26rem;" method="post">
						<!-- Name input -->
						<div data-mdb-input-init class="form-outline mb-4">
							<input type="text" id="form4Example1" class="form-control" asp-for="@Model.broadcastmessage.messageheading" />
							<label class="form-label" for="form4Example1">Subject</label>
						</div>

						<!-- Message input -->
						<div data-mdb-input-init class="form-outline mb-4">
							<textarea class="form-control" id="form4Example3" rows="4" asp-for="@Model.broadcastmessage.Message"></textarea>
							<label class="form-label" for="form4Example3">Message</label>
						</div>

						<!-- Submit button -->
						<button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Send</button>
					</form>
				</div>
			</div>
			<div class="container-sm">
				<div class="row mt-4 p-3 d-flex justify-content-center">
					@foreach (var data in Model.broadcastmessages)
					{
						<div class="col-md-4 mb-4">
							<div class="card" style="width: 18rem;">
								<div class="card-body">
									<h5 class="card-title">@data.messageheading</h5>
									<h6 class="card-subtitle mb-2 text-muted">@data.broadcastDate.ToString(@"dd-MM-yyyy hh\:mm\:ss tt")</h6>
									<p class="card-text">@data.Message</p>
									<a class="text-danger" asp-action="deleteBroadmessage" asp-controller="Dashboard" asp-route-id="@data.MessageId">Delete</a>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>
		<div class="col-1"></div>
	</div>
</main>