@model List<MultiLogin.Models.Users>;
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            @Html.Partial("_Sidebar")
        </div>
        <div class="col-10">
            <style>
                .hiddenRow {
                    padding: 0 !important;
                }
                .container-sm {
                    max-width: 95%;
                }
            </style>
            <div class="container-sm border mt-4" style="overflow-y: auto; max-height: 100%; scrollbar-width: thin;">

                <div class="card">
                    <div class="d-flex justify-content-center">


                        <div class=" p-2 text-primary fw-bold" style="font-size:1.0em">Employee URLs</div>


                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>Urls</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>City</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int n = 1;
                                }
                             @foreach (var employee in Model)
                                {
                                    string id = "demo" + n;

                                    <tr data-bs-toggle="collapse" data-bs-target="#@id" class="accordion-toggle">
                                        <td><button class="btn btn-default btn-xs"><i class="fas fa-eye"></i></button></td>
                                        <td>@employee.UserName</td>
                                        <td>@employee.UserDesignation</td>
                                        <td>@employee.UserCity</td>
                                        <td>@employee.UserEmail</td>
                                        <td>@employee.IsActive</td>
                                    </tr>
                                
                                <tr>
                                    <td colspan="12" class="hiddenRow">
                                        <div class="accordion-collapse collapse" id="@id">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr class="bg-info">
                                                        <th>Urls</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-bs-toggle="collapse" class="accordion-toggle">
                                                            @{
                                                                int len = employee.UrlsJson?.Length ?? 0;
                                                            }
                                                            
                                                            <td>
                                                                @for(int i=0;i< len;i++)
                                                                {
                                                                    if (employee.UrlsJson[i] == null) { continue; }
                                                                    if (employee.UrlsJson[i] == ',')
                                                                    {
                                                                        <br/>
                                                                    }else { @employee.UrlsJson[i]; }
                                                                }
                                                            </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    </tr>
                                    n++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
